{
  "lines": 100,
  "statements": 100,
  "functions": 100,
  "branches": 100,
  "include": [
    ".server/*.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "require": [
    "babel-register",
    "babel-polyfill",
    "./tests/mocha-bundler"
  ],
  "cache": false,
  "all": false,
  "check-coverage": true
}
